NPTEL Videos/2-D Array Operation.mp4
NPTEL Videos/abstract datatypes, classes and objects.mp4
NPTEL Videos/Address and Content of Variables and Types.mp4
NPTEL Videos/algorithms and programming_ simple gcd.mp4
NPTEL Videos/Arithmetic Expressions and Relational Expressions.mp4
NPTEL Videos/Array Problem.mp4
NPTEL Videos/Arrays (Contd.).mp4
NPTEL Videos/Arrays (Contd1.).mp4
NPTEL Videos/Arrays at Strings.mp4
NPTEL Videos/arrays vs lists, binary search.mp4
NPTEL Videos/Assignment Statement and Operators in C.mp4
NPTEL Videos/assignment statement, basic types - int, float, bool.mp4
NPTEL Videos/backtracking, n queens.mp4
NPTEL Videos/Binary Search (Contd.).mp4
NPTEL Videos/Binary Search.mp4
NPTEL Videos/Bisection Method.mp4
NPTEL Videos/Branching  IF - ELSE Statement.mp4
NPTEL Videos/breaking out of a loop.mp4
NPTEL Videos/Bubble Sort (Contd.).mp4
NPTEL Videos/Character Array and Strings.mp4
NPTEL Videos/classes and objects in python.mp4
NPTEL Videos/control flow.mp4
NPTEL Videos/Data Representation.mp4
NPTEL Videos/downloading and installing python.mp4
NPTEL Videos/Dynamic Allocation and File.mp4
NPTEL Videos/efficiency.mp4
NPTEL Videos/euclid's algorithm for gcd.mp4
NPTEL Videos/Example of If-Else.mp4
NPTEL Videos/Example of Loops (Contd.), Use of FOR Loops.mp4
NPTEL Videos/Example of Loops (Contd.).mp4
NPTEL Videos/Example of Loops.mp4
NPTEL Videos/examples.mp4
NPTEL Videos/exception handling (1).mp4
NPTEL Videos/exception handling.mp4
NPTEL Videos/Flow Chart and Pseudocode.mp4
NPTEL Videos/For Statement (Contd.).mp4
NPTEL Videos/Function (Contd.).mp4
NPTEL Videos/function definitions.mp4
NPTEL Videos/functions.mp4
NPTEL Videos/generating permutations.mp4
NPTEL Videos/global scope, nested functions.mp4
NPTEL Videos/grid paths.mp4
NPTEL Videos/handling files.mp4
NPTEL Videos/Idea of Algorithms.mp4
NPTEL Videos/IF-ELSE Statement (Contd.).mp4
NPTEL Videos/Implementation of Loops with for Statement (Contd.).mp4
NPTEL Videos/Implementing Repetitions (Loops).mp4
NPTEL Videos/improving naive gcd.mp4
NPTEL Videos/insertion sort.mp4
NPTEL Videos/Interpolation.mp4
NPTEL Videos/Introducing Functions (1).mp4
NPTEL Videos/Introducing Functions.mp4
NPTEL Videos/Introduction to Arrays.mp4
NPTEL Videos/Introduction to Programming Language Concepts.mp4
NPTEL Videos/Introduction.mp4
NPTEL Videos/Lec 0 Introduction to C.mp4
NPTEL Videos/Lec 1 Introduction   The Process of Programming.mp4
NPTEL Videos/Lec 3 The Programming Cycle.mp4
NPTEL Videos/Lec 4 Tracing a Simple Program.mp4
NPTEL Videos/Lec 6 Operators.mp4
NPTEL Videos/Lec 7 While Loop   1.mp4
NPTEL Videos/Lec 8 While Loop example.mp4
NPTEL Videos/Lec 9 While Loop example   GCD.mp4
NPTEL Videos/Lec 10 More while loops   Longest Increasing Subsequence 1.mp4
NPTEL Videos/Lec 11 More while loops   Longest Increasing Subsequence 2.mp4
NPTEL Videos/Lec 12 More while loops   Longest Increasing Subsequence 3.mp4
NPTEL Videos/Lec 13 Do while loop.mp4
NPTEL Videos/Lec 14 A matrix problem   nested loops.mp4
NPTEL Videos/Lec 18 A matrix problem using nested for loops.mp4
NPTEL Videos/Lec 19 The break statement.mp4
NPTEL Videos/Lec 22 C operators and expressions   associativity of operators.mp4
NPTEL Videos/Lec 23 Precedence of C operators.mp4
NPTEL Videos/Lec 26 How functions are executed.mp4
NPTEL Videos/Lec 27 Some examples on functions.mp4
NPTEL Videos/Lec 28 Some examples on functions.mp4
NPTEL Videos/Lec 29 Arrays in C.mp4
NPTEL Videos/Lec 30 Initializing arrays.mp4
NPTEL Videos/Lec 31 Initializing character arrays.mp4
NPTEL Videos/Lec 32 Pointers in C.mp4
NPTEL Videos/Lec 33 Pointer arithmetic.mp4
NPTEL Videos/Lec 35 Example   Function to copy a subarray into another.mp4
NPTEL Videos/Lec 36 Programming using arrays and pointers.mp4
NPTEL Videos/Lec 37 sizeof operator   how pointer arithmetic works.mp4
NPTEL Videos/Lec 38 Returning pointers from functions.mp4
NPTEL Videos/Lec 39 Example for returning pointers   return the duplicate of a string.mp4
NPTEL Videos/Lec 40 Recursion Linear recursion.mp4
NPTEL Videos/Lec 41 Recursion Linear recursion 2.mp4
NPTEL Videos/Lec 44 Multidimensional arrays and pointers.mp4
NPTEL Videos/Lec 45 Multidimensional arrays and pointers   continued.mp4
NPTEL Videos/Lec 46 Multidimensional arrays and pointers   continued.mp4
NPTEL Videos/Lec 47 File Handling.mp4
NPTEL Videos/Lec 48 Some other file handling functions.mp4
NPTEL Videos/Linear Search.mp4
NPTEL Videos/list comprehension.mp4
NPTEL Videos/lists.mp4
NPTEL Videos/Logical Operators and Change in Control Flow.mp4
NPTEL Videos/longest common subsequence.mp4
NPTEL Videos/manipulating lists.mp4
NPTEL Videos/matrix multiplication.mp4
NPTEL Videos/memoization and dynamic programming.mp4
NPTEL Videos/mergesort, analysis.mp4
NPTEL Videos/mergesort.mp4
NPTEL Videos/more about range().mp4
NPTEL Videos/More on Functions.mp4
NPTEL Videos/Parameter Passing in Function Revision (Contd.).mp4
NPTEL Videos/Parameter Passing in Function Revision.mp4
NPTEL Videos/paste del and none.mp4
NPTEL Videos/Pointer (Contd.).mp4
NPTEL Videos/Pointer in Structures.mp4
NPTEL Videos/Pointer.mp4
NPTEL Videos/priority queues and heaps.mp4
NPTEL Videos/Prof  A  Basu.mp4
NPTEL Videos/Program using Arrays.mp4
NPTEL Videos/python intro.mp4
NPTEL Videos/quicksort analysis.mp4
NPTEL Videos/quicksort.mp4
NPTEL Videos/recursion (1).mp4
NPTEL Videos/Recursion.mp4
NPTEL Videos/Recursion(Contd.).mp4
NPTEL Videos/Scanf and Printf Functions; Function Prototype.mp4
NPTEL Videos/search as a function.mp4
NPTEL Videos/search trees.mp4
NPTEL Videos/selection sort.mp4
NPTEL Videos/sets, stacks, queues.mp4
NPTEL Videos/Sorting Methods.mp4
NPTEL Videos/standard input and output.mp4
NPTEL Videos/string functions.mp4
NPTEL Videos/String Operations.mp4
NPTEL Videos/strings.mp4
NPTEL Videos/Structure (Contd.).mp4
NPTEL Videos/Structure with typedef.mp4
NPTEL Videos/Structure.mp4
NPTEL Videos/Substitution of .mp4
NPTEL Videos/Switch Statement (Contd.) and Introduction to Loops.mp4
NPTEL Videos/Switch statement.mp4
NPTEL Videos/Trapezoidal Rule and Runge-Kutta Method.mp4
NPTEL Videos/tuples and dictionaries.mp4
NPTEL Videos/Types of Software and Compilers.mp4
NPTEL Videos/Use of Logical Operaotrs in Branching.mp4
NPTEL Videos/Use of Pointer in Function Context Bubble Sort.mp4
NPTEL Videos/user defined lists.mp4
NPTEL Videos/Variables and Memory.mp4
NPTEL Videos/Variables and Variable Types in C.mp4
NPTEL Audios/2-D Array Operation.mp3
NPTEL Audios/abstract datatypes, classes and objects.mp3
NPTEL Audios/Address and Content of Variables and Types.mp3
NPTEL Audios/algorithms and programming_ simple gcd.mp3
NPTEL Audios/Arithmetic Expressions and Relational Expressions.mp3
NPTEL Audios/Array Problem.mp3
NPTEL Audios/Arrays (Contd.).mp3
NPTEL Audios/Arrays (Contd1.).mp3
NPTEL Audios/Arrays at Strings.mp3
NPTEL Audios/arrays vs lists, binary search.mp3
NPTEL Audios/Assignment Statement and Operators in C.mp3
NPTEL Audios/assignment statement, basic types - int, float, bool.mp3
NPTEL Audios/backtracking, n queens.mp3
NPTEL Audios/Binary Search (Contd.).mp3
NPTEL Audios/Binary Search.mp3
NPTEL Audios/Bisection Method.mp3
NPTEL Audios/Branching  IF - ELSE Statement.mp3
NPTEL Audios/breaking out of a loop.mp3
NPTEL Audios/Bubble Sort (Contd.).mp3
NPTEL Audios/Character Array and Strings.mp3
NPTEL Audios/classes and objects in python.mp3
NPTEL Audios/control flow.mp3
NPTEL Audios/Data Representation.mp3
NPTEL Audios/downloading and installing python.mp3
NPTEL Audios/Dynamic Allocation and File.mp3
NPTEL Audios/efficiency.mp3
NPTEL Audios/euclid's algorithm for gcd.mp3
NPTEL Audios/Example of If-Else.mp3
NPTEL Audios/Example of Loops (Contd.), Use of FOR Loops.mp3
NPTEL Audios/Example of Loops (Contd.).mp3
NPTEL Audios/Example of Loops.mp3
NPTEL Audios/examples.mp3
NPTEL Audios/exception handling (1).mp3
NPTEL Audios/exception handling.mp3
NPTEL Audios/Flow Chart and Pseudocode.mp3
NPTEL Audios/For Statement (Contd.).mp3
NPTEL Audios/Function (Contd.).mp3
NPTEL Audios/function definitions.mp3
NPTEL Audios/functions.mp3
NPTEL Audios/generating permutations.mp3
NPTEL Audios/global scope, nested functions.mp3
NPTEL Audios/grid paths.mp3
NPTEL Audios/handling files.mp3
NPTEL Audios/Idea of Algorithms.mp3
NPTEL Audios/IF-ELSE Statement (Contd.).mp3
NPTEL Audios/Implementation of Loops with for Statement (Contd.).mp3
NPTEL Audios/Implementing Repetitions (Loops).mp3
NPTEL Audios/improving naive gcd.mp3
NPTEL Audios/insertion sort.mp3
NPTEL Audios/Interpolation.mp3
NPTEL Audios/Introducing Functions (1).mp3
NPTEL Audios/Introducing Functions.mp3
NPTEL Audios/Introduction to Arrays.mp3
NPTEL Audios/Introduction to Programming Language Concepts.mp3
NPTEL Audios/Introduction.mp3
NPTEL Audios/Lec 0 Introduction to C.mp3
NPTEL Audios/Lec 1 Introduction   The Process of Programming.mp3
NPTEL Audios/Lec 3 The Programming Cycle.mp3
NPTEL Audios/Lec 4 Tracing a Simple Program.mp3
NPTEL Audios/Lec 6 Operators.mp3
NPTEL Audios/Lec 7 While Loop   1.mp3
NPTEL Audios/Lec 8 While Loop example.mp3
NPTEL Audios/Lec 9 While Loop example   GCD.mp3
NPTEL Audios/Lec 10 More while loops   Longest Increasing Subsequence 1.mp3
NPTEL Audios/Lec 11 More while loops   Longest Increasing Subsequence 2.mp3
NPTEL Audios/Lec 12 More while loops   Longest Increasing Subsequence 3.mp3
NPTEL Audios/Lec 13 Do while loop.mp3
NPTEL Audios/Lec 14 A matrix problem   nested loops.mp3
NPTEL Audios/Lec 18 A matrix problem using nested for loops.mp3
NPTEL Audios/Lec 19 The break statement.mp3
NPTEL Audios/Lec 22 C operators and expressions   associativity of operators.mp3
NPTEL Audios/Lec 23 Precedence of C operators.mp3
NPTEL Audios/Lec 26 How functions are executed.mp3
NPTEL Audios/Lec 27 Some examples on functions.mp3
NPTEL Audios/Lec 28 Some examples on functions.mp3
NPTEL Audios/Lec 29 Arrays in C.mp3
NPTEL Audios/Lec 30 Initializing arrays.mp3
NPTEL Audios/Lec 31 Initializing character arrays.mp3
NPTEL Audios/Lec 32 Pointers in C.mp3
NPTEL Audios/Lec 33 Pointer arithmetic.mp3
NPTEL Audios/Lec 35 Example   Function to copy a subarray into another.mp3
NPTEL Audios/Lec 36 Programming using arrays and pointers.mp3
NPTEL Audios/Lec 37 sizeof operator   how pointer arithmetic works.mp3
NPTEL Audios/Lec 38 Returning pointers from functions.mp3
NPTEL Audios/Lec 39 Example for returning pointers   return the duplicate of a string.mp3
NPTEL Audios/Lec 40 Recursion Linear recursion.mp3
NPTEL Audios/Lec 41 Recursion Linear recursion 2.mp3
NPTEL Audios/Lec 44 Multidimensional arrays and pointers.mp3
NPTEL Audios/Lec 45 Multidimensional arrays and pointers   continued.mp3
NPTEL Audios/Lec 46 Multidimensional arrays and pointers   continued.mp3
NPTEL Audios/Lec 47 File Handling.mp3
NPTEL Audios/Lec 48 Some other file handling functions.mp3
NPTEL Audios/Linear Search.mp3
NPTEL Audios/list comprehension.mp3
NPTEL Audios/lists.mp3
NPTEL Audios/Logical Operators and Change in Control Flow.mp3
NPTEL Audios/longest common subsequence.mp3
NPTEL Audios/manipulating lists.mp3
NPTEL Audios/matrix multiplication.mp3
NPTEL Audios/memoization and dynamic programming.mp3
NPTEL Audios/mergesort, analysis.mp3
NPTEL Audios/mergesort.mp3
NPTEL Audios/more about range().mp3
NPTEL Audios/More on Functions.mp3
NPTEL Audios/Parameter Passing in Function Revision (Contd.).mp3
NPTEL Audios/Parameter Passing in Function Revision.mp3
NPTEL Audios/paste del and none.mp3
NPTEL Audios/Pointer (Contd.).mp3
NPTEL Audios/Pointer in Structures.mp3
NPTEL Audios/Pointer.mp3
NPTEL Audios/priority queues and heaps.mp3
NPTEL Audios/Prof  A  Basu.mp3
NPTEL Audios/Program using Arrays.mp3
NPTEL Audios/python intro.mp3
NPTEL Audios/quicksort analysis.mp3
NPTEL Audios/quicksort.mp3
NPTEL Audios/recursion (1).mp3
NPTEL Audios/Recursion.mp3
NPTEL Audios/Recursion(Contd.).mp3
NPTEL Audios/Scanf and Printf Functions; Function Prototype.mp3
NPTEL Audios/search as a function.mp3
NPTEL Audios/search trees.mp3
NPTEL Audios/selection sort.mp3
NPTEL Audios/sets, stacks, queues.mp3
NPTEL Audios/Sorting Methods.mp3
NPTEL Audios/standard input and output.mp3
NPTEL Audios/string functions.mp3
NPTEL Audios/String Operations.mp3
NPTEL Audios/strings.mp3
NPTEL Audios/Structure (Contd.).mp3
NPTEL Audios/Structure with typedef.mp3
NPTEL Audios/Structure.mp3
NPTEL Audios/Substitution of .mp3
NPTEL Audios/Switch Statement (Contd.) and Introduction to Loops.mp3
NPTEL Audios/Switch statement.mp3
NPTEL Audios/Trapezoidal Rule and Runge-Kutta Method.mp3
NPTEL Audios/tuples and dictionaries.mp3
NPTEL Audios/Types of Software and Compilers.mp3
NPTEL Audios/Use of Logical Operaotrs in Branching.mp3
NPTEL Audios/Use of Pointer in Function Context Bubble Sort.mp3
NPTEL Audios/user defined lists.mp3
NPTEL Audios/Variables and Memory.mp3
NPTEL Audios/Variables and Variable Types in C.mp3
